 body {
    background: url("https://wallpaperaccess.com/full/341369.jpg") no-repeat center center fixed;
    background-size: cover;
}

.header {
    background: rgba(255, 255,255, .5);
    text-align: center;
    position: relative;
    top: 50px;
 
}

#title {
   color: rgb(0,0,0,1)
}

#survey-form {
    background: rgb(125, 252, 125, 0.5);
    position: relative;
    top: 50px;
}

.personal {
    display: block;
}

form{
    border-radius: 0.25rem;
    display: block;
    padding: 2.5rem;
    margin: 0em;
}